@model WorkStatusViewModel
@{
    ViewData["Title"] = "Work Status Management";
}

<div class="pagetitle">
    <h1>Package Management</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Settings" asp-action="Index">Settings</a></li>
            <li class="breadcrumb-item active"> Work Status Management </li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <partial name="_NotificationPartial"></partial>
    <div class="card">
        <div class="card-body">
            <div class="card-title"> Work Phase Management</div>
            <table class="table table-striped datatable">
                <thead>
                    <tr>
                        <th scope="col">Work Phase Name</th>
                        <th scope="col">Work Phase Code</th>
                        <th scope="col"> <button type="button" class="btn btn-success rounded-pill float-end" data-bs-toggle="modal" data-bs-target="#AddWorkPhase"> <i class="bi bi-plus-square"></i> Add Work Phase</button> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.workPhases)
                    {
                        <tr>
                            <td>@obj.WorkPhaseName</td>
                            <td>@obj.WorkPhaseCode</td>
                            <td>
                                <a class="btn btn-primary rounded-pill" asp-controller="WorkStatus" asp-action="EditWorkPhase" asp-route-id="@obj.Id"> <i class="bi bi-pencil-square"></i> Edit</a>
                                <button class="btn btn-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#DeleteConfirmation_@obj.Id"> <i class="bi bi-trash"></i> Delete </button>
                            </td>
                            <div class="modal fade" id="DeleteConfirmation_@obj.Id" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Confirmation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are You Sure Want to Delete this Event - @obj.WorkPhaseName ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <a asp-controller="WorkStatus" asp-action="DeleteWorkPhase" asp-route-id="@obj.Id" class="btn btn-primary">Confirm Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="modal fade" id="AddWorkPhase" tabindex="-1" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New Event</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" asp-controller="WorkStatus" asp-action="AddWorkPhase">
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" asp-for="WorkPhase.WorkPhaseName" placeholder="Work Phase Name" required>
                                            <label asp-for="WorkPhase.WorkPhaseName">Work Phase Name</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" asp-for="WorkPhase.WorkPhaseCode" id="events.EventTitle" placeholder="Work Phase Code" required>
                                            <label asp-for="WorkPhase.WorkPhaseCode">Work Phase Code</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add Work Phase</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="card-title">Work Status</div>

            <table class="table table-striped datatable">
                <thead>
                    <tr>
                        <th scope="col">Work Status Name</th>
                        <th scope="col">Work Phase</th>
                        <th scope="col"> Color Code </th>
                        <th scope="col"> <button type="button" class="btn btn-success rounded-pill float-end" data-bs-toggle="modal" data-bs-target="#AddWorkStatus"> <i class="bi bi-plus-square"></i> Add Work Status</button> </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.workStatuses)
                    {
                        <tr>
                            <td>@obj.StatusName</td>
                            <td>@obj.WorkPhase.WorkPhaseName - @obj.WorkPhase.WorkPhaseCode</td>
                            <td>
                                @{
                                    switch (obj.ColorCode)
                                    {
                                        case "badge bg-warning text-dark":
                                            <span> Yellow </span>
                                            break;
                                        case "badge bg-primary":
                                            <span> Blue </span>
                                            break;
                                        case "badge bg-success":
                                            <span> Green </span>
                                            break;
                                        case "badge bg-danger":
                                            <span> Red </span>
                                            break;
                                        case "badge bg-info text-dark":
                                            <span> Cyan </span>
                                            break;
                                    }
                                }
                            </td>
                            <td>
                                <a class="btn btn-primary rounded-pill" asp-controller="WorkStatus" asp-action="EditWorkStatus" asp-route-id="@obj.WorkStatusId"> <i class="bi bi-pencil-square"></i> Edit</a>
                                <button class="btn btn-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#DeleteConfirmation1_@obj.WorkStatusId"> <i class="bi bi-trash"></i> Delete </button>
                            </td>
                            <div class="modal fade" id="DeleteConfirmation1_@obj.WorkStatusId" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Confirmation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are You Sure Want to Delete this Event - @obj.StatusName ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <a asp-controller="WorkStatus" asp-action="DeleteWorkStatus" asp-route-id="@obj.WorkStatusId" class="btn btn-primary">Confirm Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="modal fade" id="AddWorkStatus" tabindex="-1" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New Event</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post" asp-controller="WorkStatus" asp-action="AddWorkStatus">
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" asp-for="workStatus.StatusName" placeholder="Work Status Name" required>
                                            <label asp-for="workStatus.StatusName">Work Status Name</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <select asp-for="workStatus.WorkPhaseId" class="form-select" required>
                                                <option disabled value="" selected>Select a Work Phase</option>
                                                @foreach (var obj in Model.workPhases)
                                                {
                                                    <option value="@obj.Id">@obj.WorkPhaseName - @obj.WorkPhaseCode</option>
                                                }
                                            </select>
                                            <label asp-for="workStatus.WorkPhaseId">Work Phase</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <select asp-for="workStatus.ColorCode" class="form-select" required>
                                                <option disabled value="" selected>Select a Color Code</option>
                                                <option value="badge bg-primary">Blue</option>
                                                <option value="badge bg-success">Green</option>
                                                <option value="badge bg-danger">Red</option>
                                                <option value="badge bg-warning text-dark">Yellow</option>
                                                <option value="badge bg-info text-dark"> Cyan</option>
                                            </select>
                                            <label asp-for="workStatus.ColorCode">Color Code</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add Work Status</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>