@model WorksheetViewModel
@{
    ViewData["Title"] = "View Work Sheet Management";
}
<div class="pagetitle">
    <h1>Worksheet Management</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"> Work Sheet Management </li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <partial name="_NotificationPartial"></partial>
    @{
        var customerDetails = Model.worksheet.eventinfo.CustomerDetails;
        var eventdetails = Model.worksheet.eventinfo;
    }
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                Work Details for @customerDetails.CustomerName (@customerDetails.CustomerID)
                <span style="float:right" class="@Model.worksheet.WorkStatus.ColorCode">@Model.worksheet.WorkStatus.StatusName</span>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Customer Details
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body profile">
                                        <div class="row profile-overview">
                                            <div class="col-lg-2 label">Couples Name</div>
                                            <div class="col-lg-3"> @customerDetails.CouplesName</div>
                                            <div class="col-lg-1 label">Email</div>
                                            <div class="col-lg-2"> @customerDetails.EmailAddress</div>
                                            <div class="col-lg-1 label">Phone</div>
                                            <div class="col-lg-3"> @customerDetails.PrimaryPhoneNumber / @customerDetails.SecondaryPhoneNumber</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">              
                        <div class="accordion" id="accordion2">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        Event Details -  @eventdetails.EventType.EventName <span class="badge" style="margin-left:auto; color:#000"> Event Date : @eventdetails.EventStartDate - @eventdetails.EventEndDate</span>
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion2">
                                    <div class="accordion-body profile">
                                        <div class="row profile-overview">
                                            <div class="col-lg-2 label">Event Venue</div>
                                            <div class="col-lg-4"> @eventdetails.EventVenue</div>
                                            <div class="col-lg-2 label">Event Venue Address</div>
                                            <div class="col-lg-4"> @eventdetails.EventVenueAddress</div>

                                        </div>
                                        <br />
                                        <div class="row profile-overview">
                                            <div class="col-lg-2 label">Bride Makeup Address</div>
                                            <div class="col-lg-4"> @eventdetails.BrideMakeupLocation</div>
                                            <div class="col-lg-2 label">Groom Makeup Address</div>
                                            <div class="col-lg-4"> @eventdetails.GroomMakeupLocation</div>
                                        </div>
                                        <br />
                                        <div class="row profile-overview">
                                            <div class="col-lg-2 label">Remaks If Any</div>
                                            <div class="col-lg-4"> @eventdetails.Remarks</div>
                                            <div class="col-lg-2 label"></div>
                                            <div class="col-lg-4"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>