@model UserViewModel

@{
    ViewData["Title"] = "Settings / User Management ";
}
<div class="pagetitle">
    <h1>Users</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Settings" asp-action="Index">Settings</a></li>
            <li class="breadcrumb-item active"> User Management </li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="card">
        <div class="card-body">
            <partial name="_NotificationPartial"></partial>

            <h5 class="card-title">
                Users Details <button type="button" class="btn btn-success rounded-pill float-end" data-bs-toggle="modal" data-bs-target="#AddUser"> <i class="bi bi-plus-square"></i> Add User</button>
            </h5>

            <table class="table table-striped datatable">
                <thead>
                    <tr>
                        <th scope="col"> </th>  
                        <th scope="col">Action</th>                                              
                        <th scope="col">Full Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Role</th>
                        <th scope="col">Phone #</th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.UsersList)
                    {
                        <tr>
                            <td> <img src="data:image/jpeg;base64,@obj.Photo" alt="Profile" class="rounded-circle" style="max-height:44px;width:44px"> </td>
                            <td>@if (obj.LockoutEnabled)
                                {
                                    <a class="btn btn-danger rounded-pill" asp-controller="User" asp-action="LockUnlockUser" asp-route-Id="@obj.Id"><i class="ri-lock-fill"></i> </a>
                                }
                                else
                                {
                                    <a class="btn btn-success rounded-pill" asp-controller="User" asp-action="LockUnlockUser" asp-route-Id="@obj.Id"><i class="ri-lock-unlock-fill"></i></a>
                                }
                                 <a class="btn btn-info rounded-pill" asp-controller="User" asp-action="ResetPassword" asp-route-id="@obj.Id"> <i class="ri-exchange-line"></i></a>                                
                            </td>
                            <td>@obj.FullName</td>
                            <td>@obj.Email</td>
                            <td>@obj.RoleName</td>
                            <td>@obj.PhoneNumber</td>                            
                        </tr>
                        @* <div class="modal fade" id="DeleteConfirmation_@obj.Id" tabindex="-1" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title">Vertically Centered</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Do you want to Delete the Event - @obj.Id
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <a type="button" class="btn btn-danger" asp-controller="Settings" asp-action="DeleteRole" asp-route-id="@obj.Id">Delete</a>
                            </div>
                            </div>
                            </div>
                            </div>*@
                    }
                </tbody>
            </table>
            @*END EVENT TYPE TABLE*@

            <div class="modal fade" id="AddUser" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New User</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form method="post">
                            <div class="modal-body">
                                <div class="col-12 mt-2">
                                    <label asp-for="newuser.FirstName" class="form-label">First Name</label>
                                    <input asp-for="newuser.FirstName" type="text" class="form-control" placeholder="First Name" required="">
                                    <div asp-for="newuser.FirstName" class="invalid-feedback">Please, enter First Name!</div>
                                </div>
                                <div class="col-12 mt-2">
                                    <label asp-for="newuser.LastName" class="form-label">Last Name</label>
                                    <input asp-for="newuser.LastName" type="text" class="form-control" placeholder="Last Name" required="">
                                    <div asp-for="newuser.LastName" class="invalid-feedback">Please, enter your name!</div>
                                </div>

                                <div class="col-12 mt-2">
                                    <label asp-for="newuser.Email" class="form-label">Your Email</label>
                                    <input asp-for="newuser.Email" type="email" class="form-control" placeholder="Email" required="">
                                    <div asp-for="newuser.Email" class="invalid-feedback">Please enter a valid Email adddress!</div>
                                </div>

                                <div class="col-12" style="display:none">
                                    <input asp-for="newuser.Password" type="password" class="form-control" value="User@123">
                                </div>

                                <div class="col-12 mt-2">
                                    <input asp-for="newuser.RoleList" type="hidden" />
                                    <label asp-for="newuser.RoleSelected" class="form-label">Role</label>
                                    <select asp-for="newuser.RoleSelected" class="form-select" asp-items="@Model.newuser.RoleList">
                                        <option disabled selected="">Select Any Role</option>
                                    </select>
                                    <div asp-for="newuser.RoleSelected" class="invalid-feedback">Please Select your Role!</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>