@model EventViewModel
@{
    ViewData["Title"] = "Events";
}
<div class="pagetitle">
    <h1>Event Management</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"> Event Management </li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="card">
        <div class="card-body">
            <partial name="_NotificationPartial"></partial>

            <h5 class="card-title">
                Event Details <button type="button" class="btn btn-success rounded-pill float-end" data-bs-toggle="modal" data-bs-target="#AddEvent"> <i class="bi bi-plus-square"></i> Add Event</button>
            </h5>
            <table class="table table-striped datatable">
                <thead>
                    <tr>

                        <th scope="col">Event Title</th>
                        <th scope="col">Event Type</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Event Start Date</th>
                        <th scope="col">Event End Date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.Allevents)
                    {
                        <tr>
                            <td>@obj.EventTitle</td>
                            <td>@obj.EventType.EventName</td>
                            <td>@obj.CustomerDetails.CustomerName</td>
                            <td>@obj.EventStartDate</td>
                            <td>@obj.EventEndDate</td>
                            <td>
                                <button class="btn btn-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#DeleteConfirmation_@obj.Id"> <i class="bi bi-trash"></i> Delete </button>
                            </td>
                            <div class="modal fade" id="DeleteConfirmation_@obj.Id" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Confirmation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are You Sure Want to Delete this Event - @obj.EventTitle for the customer - @obj.CustomerDetails.CustomerName that would be held on @obj.EventStartDate.ToShortDateString() ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <a asp-controller="Event" asp-action="DeleteEvent" asp-route-id="@obj.Id" class="btn btn-primary">Confirm Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>

                    }
                </tbody>
            </table>

            <div class="modal fade" id="AddEvent" tabindex="-1" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add New Event</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>                       
                        <form method="post">
                            <div class="modal-body">
                                <div class="row g-3">
                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" asp-for="events.EventTitle" id="events.EventTitle" placeholder="Event Title" required>
                                            <label asp-for="events.EventTitle">Event Title</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <select id="customerId" asp-for="events.CustomerId" class="form-select" required>
                                                <option disabled value="" selected>Select a Customer</option>
                                                @foreach (var obj in Model.customerDetails)
                                                {
                                                    <option value="@obj.Id">@obj.CustomerName</option>
                                                }
                                            </select>
                                            <label asp-for="events.CustomerId">Customer Detail</label>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-floating">
                                            <select id="eventTypeId" asp-for="events.EventTypeId" class="form-select" required>
                                                <option disabled value="" selected>Select a Event Type</option>
                                                @foreach (var obj in Model.eventTypes)
                                                {
                                                    <option value="@obj.Id">@obj.EventName</option>
                                                }
                                            </select>
                                            <label asp-for="events.EventTypeId">Event Type</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 row g-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input type="date" class="form-control" asp-for="evstartDate" placeholder="Event Start Date" required>
                                                <label asp-for="evstartDate">Event Start Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input type="time" class="form-control" asp-for="evstartTime" placeholder="Event Start Date" required>
                                                <label asp-for="evstartTime">Event Start Time</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 row g-3">
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input type="date" class="form-control" asp-for="evendtDate" placeholder="Event End Date" required>
                                                <label asp-for="evendtDate">Event End Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-floating">
                                                <input type="time" class="form-control" asp-for="evendTime" placeholder="Event End Date" required>
                                                <label asp-for="evendTime">Event End Time</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Add Event</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section BodyScripts
{
<script type="text/javascript">

</script>
}
