@model CustomerViewModel
@{
    ViewData["Title"] = "Customer Management";
}

<div class="pagetitle">
    <h1>Customer Management</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active"> Customer Management </li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="card">
        <div class="card-body">
            <partial name="_NotificationPartial"></partial>

            <h5 class="card-title">
                Customer Details <a class="btn btn-success rounded-pill float-end" title="Add Customer" asp-controller="Customer" asp-action="Create"> <i class="bi bi-person-plus-fill"></i> </a>
            </h5>

            <table class="table table-striped datatable">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Couples Name</th>
                        <th scope="col">Phone 1#</th>
                        <th scope="col">Phone 2#</th>
                        <th scope="col">Email</th>
                        <th scope="col">Reference</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model.customerDetails)
                    {
                        <tr>
                            @*<td>@string.Concat(@CustomerDetails.CustomerPrefix,@obj.Id.ToString("00000"))</td>*@
                            <td> @obj.CustomerID</td>
                            <td>@obj.CustomerName</td>
                            <td>@obj.CouplesName</td>
                            <td>@obj.PrimaryPhoneNumber</td>
                            <td>@obj.SecondaryPhoneNumber</td>
                            <td>@obj.EmailAddress</td>
                            <td>@obj.Reference</td>
                            <td>    
                                <a class="btn btn-primary rounded-pill" asp-controller="Customer" asp-action="Edit" asp-route-id="@obj.Id" title="Edit Customer"><i class="bi bi-pencil"></i></a>
                                <button class="btn btn-danger rounded-pill" data-bs-toggle="modal" data-bs-target="#DeleteConfirmation_@obj.Id"> <i class="bi bi-trash"></i> </button>
                            </td>
                             <div class="modal fade" id="DeleteConfirmation_@obj.Id" tabindex="-1" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Delete Confirmation</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are You Sure Want to Delete this Event - @obj.CustomerName ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                            <a asp-controller="Customer" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary">Confirm Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>